* { margin:0; padding:0; }

html,
body { height:100%; }

main { display:grid; height:100%; grid-template-rows: auto 50px; }

.ctn-terminal { background:#222222 }
.ctn-terminal form { padding:10px; color:#999999; }
.ctn-terminal form input { border:1px solid #999999; border-radius:6px; padding:6px; margin-left:10px; }
.ctn-terminal form button { border:1px solid #999999; border-radius:6px; padding:6px; margin-left:10px; cursor:pointer; }
.ctn-terminal form div { margin-top:5px; }