* { margin:0; padding:0; }

html,
body { height:100%; }

main { display:grid; height:100%; grid-template-rows: auto 50px; }


.ctn-game { display: grid; grid-template-columns: repeat(31, 1fr); grid-template-rows: repeat(21, 1fr);background:url("../img/grass.png") }
.ctn-game span { display:block; width:100%; height:100%; position:relative; }
.ctn-game .ash:before { content:""; display: block; width:100%; height:100%; background:url("../img/ash.png") 50% no-repeat; background-size: auto 100%; position:relative; z-index:1; }
.ctn-game .path { background:url("../img/pokeball.png") 50% no-repeat; background-size: auto 80%; }




.ctn-terminal { background:#222222 }
.ctn-terminal form { padding:10px; color:#999999; }
.ctn-terminal form input { border:1px solid #999999; border-radius:6px; padding:6px; margin-left:10px; }
.ctn-terminal form button { border:1px solid #999999; border-radius:6px; padding:6px; margin-left:10px; cursor:pointer; }